.box{
    width: 200px;
    height: 200px;
    background: purple;
}

.changes{
    width: 500px;
    height: 500px;
    background: red;
}

.caja{
    display: grid;
    grid-template-columns: repeat(3, 200px);

}

.minicaja{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.color{
    background: rosybrown;
}